{% extends 'components/base.html.twig' %}

{% block content %}
    <h1 class="text-center">Register to the notification</h1>
    <div class="clearfix">
        <button type="button" class="btn btn-outline-light js--switch-advanced float-right">Advanced</button>
    </div>
    <div class="rounded border border-dark form-group  js--div-simple" style="margin: 1rem 0;">
        <div class="row justify-content-lg-center">
            <label for="simple_world" class="col-sm-2 col-form-label">World</label>
            <div class="col-sm-10 col-lg-2">
                <input type="text" class="form-control" id="simple_world" readonly value="3">
            </div>
        </div>
    </div>
    <div class="rounded border border-dark form-group js--div-advanced" style="margin: 1rem 0; display:none;">
        <div class="form-group row justify-content-lg-center">
            <label for="advanced_world" class="col-2 col-form-label">World</label>
            <div class="col-10 col-lg-2">
                <label class="js--checkbox-active checkbox-active" data-target="advanced_world">
                    <input type="checkbox" title="Activate World">
                </label>
                <input type="number" class="form-control" id="advanced_world" value="3" style="display:none;"
                       min="1" max="10">
            </div>
        </div>
        <div class="form-group row justify-content-lg-center">
            <label for="advanced_us" class="col-2 col-form-label">US</label>
            <div class="col-10 col-lg-2">
                <label class="js--checkbox-active checkbox-active" data-target="advanced_us">
                    <input type="checkbox" title="Activate US">
                </label>
                <input type="number" class="form-control" id="advanced_us" value="3" style="display:none;" min="1"
                       max="10">
            </div>
        </div>
        <div class="form-group row justify-content-lg-center">
            <label for="advanced_eu" class="col-2 col-form-label">EU</label>
            <div class="col-10 col-lg-2">
                <label class="js--checkbox-active checkbox-active" data-target="advanced_eu">
                    <input type="checkbox" title="Activate EU">
                </label>
                <input type="number" class="form-control" id="advanced_eu" value="3" style="display:none;" min="1"
                       max="10">
            </div>
        </div>
        <div class="form-group row justify-content-lg-center">
            <label for="advanced_kr" class="col-2 col-form-label">KR</label>
            <div class="col-10 col-lg-2">
                <label class="js--checkbox-active checkbox-active" data-target="advanced_kr">
                    <input type="checkbox" title="Activate KR">
                </label>
                <input type="number" class="form-control" id="advanced_kr" value="3" style="display:none;" min="1"
                       max="10">
            </div>
        </div>
        <div class="form-group row justify-content-lg-center">
            <label for="advanced_tw" class="col-2 col-form-label">TW</label>
            <div class="col-10 col-lg-2">
                <label class="js--checkbox-active checkbox-active" data-target="advanced_tw">
                    <input type="checkbox" title="Activate TW">
                </label>
                <input type="number" class="form-control" id="advanced_tw" value="3" style="display:none;" min="1"
                       max="10">
            </div>
        </div>
    </div>
    <div style="margin: auto;">
        <button class="btn btn-success js--submit-button d-block mx-auto" disabled>
            Subscribe
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        const applicationServerPublicKey = '{{ application_public_key }}';
    </script>
    <script type="application/javascript" src="/js/register.js"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        html, body {
            padding-top: 1rem;
            height: 100%;
        }

        .btn-success {
            background-color: #7fd81e;
            border-color: #7fd81e;
        }

        .checkbox-active {
            width: 100%;
            height: 100%;
        }

        .checkbox-active input {
            position: absolute;
            top: 50%;
            display: block;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    </style>
{% endblock %}