{% extends 'components/base.html.twig' %}

{% block content %}
    <div class="rounded border border-dark form-group js--div-advanced" style="margin: 1rem 0;">
        <div class="chose_region list_to_do">
            <div class="row justify-content-center">
                <h1 class="col-1">1</h1>
                <h4 class="col-lg-6 col-11">Choose your region(s):</h4>
            </div>
            <div class="row justify-content-center">
                <ul class="col-lg-6 col-11 offset-1">
                    {% set region = {'world': 'World', 'eu': 'Europe', 'us': 'US / OC', 'kr': 'Korea', 'tw': 'Taiwan'} %}
                    {% for key, label in region %}
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input js--chose-region" data-region="{{ key }}">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ label }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="chose_how_much list_to_do">
            <div class="row justify-content-center">
                <h1 class="col-1">2</h1>
                <h4 class="col-lg-6 col-11">How many guilds do you want alerts for ?</h4>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-11 offset-1">
                    <select class="custom-select col-1 js--how-many-guilds" title="Chose how many guilds you want alert for">
                        <option value="3">3 guilds</option>
                        <option value="5">5 guilds</option>
                        <option value="10">10 guilds</option>
                        <option value="20">20 guilds</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="subscribe_button list_to_do">
            <div class="row justify-content-center">
                <h1 class="col-1">3</h1>
                <h4 class="col-lg-6 col-11">
                    <button class="btn btn-success btn-block js--submit-button" disabled>
                        Subscribe
                    </button>
                </h4>
            </div>
        </div>
    </div>
    <div style="margin: auto;">
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        const applicationServerPublicKey = '{{ application_public_key }}';
    </script>
    <script type="application/javascript" src="/js/register.js"></script>
{% endblock %}