<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Francois 'Isak'">
    <title>Progress Notification</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css?v={{ ASSET_VERSION }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-dark text-white">
<div class="main">
    <header>
        <h1>Antorus, the Burning Throne</h1>
        <p>
            Get Raid Progress<br/>
            Notifications in Real-Time
        </p>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
        <div class="push"></div>
    </div>
</div>
<footer class="text-center text-secondary" style="padding-top:1rem;">
    <p class="text-light alert_discord">
        Use Discord ? <span class="d-inline d-sm-none"><br /></span>
        <a href="https://raider.io/discord" class="link_alert">Get these alerts</a> directly in your Discord !
    </p>
    <p>
        <a class="text-light" href="mailto:contact@prograce.info">Isak<span class="d-none d-sm-inline"> (contact@prograce.info)</span></a>
        - Powered with <a href="https://raider.io" class="text-light">Raider.IO</a> -
        <a href="https://github.com/WFrancois/progress-notification" class="text-light"><i
                    class="fa fa-github"></i><span
                    class="d-none d-sm-inline"> GitHub</span></a>
    </p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>